In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import seaborn as sns

In [2]:
dataframe = pd.read_csv("database.csv", low_memory=False)

dataframe[['departure','return']] =  dataframe[['departure','return']].apply(pd.to_datetime, format='%Y-%m-%d %H:%M:%S.%f')

dataframe = dataframe.rename(columns={'distance (m)': 'distance',
                                     'duration (sec.)': 'duration',
                                     'avg_speed (km/h)':'speed',
                                      'Air temperature (degC)':'temperature',
                                     })
dataframe = dataframe[ 
                    (50 < dataframe['distance']) & (dataframe['distance'] < 10000) &
                    (120 < dataframe['duration']) & (dataframe['duration'] <  18000) &
                    (-20 < dataframe['temperature']) & (dataframe['temperature'] < 50)        
                    ].reset_index()

In [3]:
dataframe = dataframe.sort_values("departure").reset_index(drop=True).drop('index', 1)
dataframe

/var/folders/v6/x6jbr4552j70p87qgp5lg5y80000gn/T/ipykernel_42567/746366162.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  dataframe = dataframe.sort_values("departure").reset_index(drop=True).drop('index', 1)

,departure,return,departure_id,departure_name,return_id,return_name,distance,duration,speed,departure_latitude,departure_longitude,return_latitude,return_longitude,temperature
0,2016-05-02 15:25:00,2016-05-02 16:22:00,A10,Erottajan aukio,B01,Hakaniemi (M),2536.0,3400.0,0.044753,60.166890,24.944261,60.178106,24.952181,14.5
1,2016-05-02 15:28:00,2016-05-02 15:34:00,A12,Unioninkatu,A09,Vanha kirkkopuisto,737.0,405.0,0.109185,60.167457,24.951023,60.165288,24.939150,14.5
2,2016-05-02 15:29:00,2016-05-02 15:44:00,A09,Vanha kirkkopuisto,A29,Narinkka,1623.0,929.0,0.104822,60.165288,24.939150,60.170042,24.934607,14.5
3,2016-05-02 15:31:00,2016-05-02 15:53:00,A26,Kiasma,A29,Narinkka,1815.0,1295.0,0.084093,60.171258,24.937428,60.170042,24.934607,14.5
4,2016-05-02 15:33:00,2016-05-02 15:42:00,A27,Mannerheimintie,A27,Mannerheimintie,1084.0,530.0,0.122717,60.169072,24.939419,60.169072,24.939419,14.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11278845,2020-10-31 23:55:57,2020-11-01 00:13:20,125,Arielinkatu,135.0,Velodrominrinne,2838.0,1041.0,0.163573,60.185922,24.979739,60.201061,24.944051,9.1
11278846,2020-10-31 23:56:33,2020-11-01 00:08:55,573,Urheilupuisto (M),527.0,Otsolahti,2429.0,737.0,0.197748,60.174650,24.779428,60.178655,24.817423,9.1
11278847,2020-10-31 23:58:05,2020-11-01 00:08:16,162,Leppäsuonaukio,75.0,Korjaamo,1666.0,607.0,0.164679,60.169573,24.926590,60.183868,24.919837,9.1
11278848,2020-10-31 23:58:10,2020-11-01 00:07:17,12,Kanavaranta,122.0,Lintulahdenkatu,2013.0,544.0,0.222022,60.168384,24.958381,60.183718,24.962194,9.1
11278849,2020-10-31 23:58:46,2020-11-01 00:07:29,69,Kalevankatu,64.0,Tyynenmerenkatu,1694.0,520.0,0.195462,60.165680,24.931422,60.156838,24.920661,9.1

In [4]:
dataframe['timestamp'] = dataframe.apply(lambda row: row.departure - timedelta(minutes=(row.departure.minute%60)) - timedelta(seconds=row.departure.second), axis = 1)
dataframe

,departure,return,departure_id,departure_name,return_id,return_name,distance,duration,speed,departure_latitude,departure_longitude,return_latitude,return_longitude,temperature,timestamp
0,2016-05-02 15:25:00,2016-05-02 16:22:00,A10,Erottajan aukio,B01,Hakaniemi (M),2536.0,3400.0,0.044753,60.166890,24.944261,60.178106,24.952181,14.5,2016-05-02 15:00:00
1,2016-05-02 15:28:00,2016-05-02 15:34:00,A12,Unioninkatu,A09,Vanha kirkkopuisto,737.0,405.0,0.109185,60.167457,24.951023,60.165288,24.939150,14.5,2016-05-02 15:00:00
2,2016-05-02 15:29:00,2016-05-02 15:44:00,A09,Vanha kirkkopuisto,A29,Narinkka,1623.0,929.0,0.104822,60.165288,24.939150,60.170042,24.934607,14.5,2016-05-02 15:00:00
3,2016-05-02 15:31:00,2016-05-02 15:53:00,A26,Kiasma,A29,Narinkka,1815.0,1295.0,0.084093,60.171258,24.937428,60.170042,24.934607,14.5,2016-05-02 15:00:00
4,2016-05-02 15:33:00,2016-05-02 15:42:00,A27,Mannerheimintie,A27,Mannerheimintie,1084.0,530.0,0.122717,60.169072,24.939419,60.169072,24.939419,14.5,2016-05-02 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11278845,2020-10-31 23:55:57,2020-11-01 00:13:20,125,Arielinkatu,135.0,Velodrominrinne,2838.0,1041.0,0.163573,60.185922,24.979739,60.201061,24.944051,9.1,2020-10-31 23:00:00
11278846,2020-10-31 23:56:33,2020-11-01 00:08:55,573,Urheilupuisto (M),527.0,Otsolahti,2429.0,737.0,0.197748,60.174650,24.779428,60.178655,24.817423,9.1,2020-10-31 23:00:00
11278847,2020-10-31 23:58:05,2020-11-01 00:08:16,162,Leppäsuonaukio,75.0,Korjaamo,1666.0,607.0,0.164679,60.169573,24.926590,60.183868,24.919837,9.1,2020-10-31 23:00:00
11278848,2020-10-31 23:58:10,2020-11-01 00:07:17,12,Kanavaranta,122.0,Lintulahdenkatu,2013.0,544.0,0.222022,60.168384,24.958381,60.183718,24.962194,9.1,2020-10-31 23:00:00
11278849,2020-10-31 23:58:46,2020-11-01 00:07:29,69,Kalevankatu,64.0,Tyynenmerenkatu,1694.0,520.0,0.195462,60.165680,24.931422,60.156838,24.920661,9.1,2020-10-31 23:00:00

In [5]:
dataframe['departure_name'].unique().size

347

In [6]:
stations = dataframe['departure_name'].unique()
stations

array(['Erottajan aukio', 'Unioninkatu', 'Vanha kirkkopuisto', 'Kiasma',
       'Mannerheimintie', 'Senaatintori', 'Ympyrätalo',
       'Rautatientori / länsi', 'Narinkka', 'Kamppi (M)', 'Baana',
       'Ooppera', 'Kaisaniemenpuisto', 'Töölönkatu', 'Eerikinkatu',
       'Töölönlahdenkatu', 'Merisotilaantori', 'Varsapuistikko',
       'Sörnäinen (M)', 'Itämerentori', 'Kaivopuisto', 'Hakaniemi (M)',
       'Kasarmitori', 'Brahen kenttä', 'Töölöntori', 'Sepänkatu',
       'Ritarikatu', 'Hietalahdentori', 'Laivasillankatu',
       'Kauppakorkeakoulu', 'Designmuseo', 'Kapteeninpuistikko',
       'Kanavaranta', 'Apollonkatu', 'Eläinmuseo', 'Kansallismuseo',
       'Linnanmäki', 'Haapaniemenkatu', 'Liisanpuistikko', 'Karhupuisto',
       'Lastenlehto', 'Mastokatu', 'Viiskulma', 'Rautatientori / itä',
       'Porthania', 'Marian sairaala', 'Ruomelantie', 'Nokkala',
       'Auringonkatu', 'Piispansilta', 'Kuunkatu', 'Matinkartanontie',
       'Suomenlahdentie', 'Kesäkatu', 'Uimastadion', 'Sepetlahdentie',
       'Lintulahdenkatu', 'Eteläinen Hesperiankatu', 'Teurastamo',
       'Avaruuskatu', 'Melkonkuja', 'Lauttasaarensilta', 'Teollisuuskatu',
       'Itälahdenkatu', 'Vilhonvuorenkatu', 'Jäähalli',
       'Jätkäsaarenlaituri', 'Lauttasaaren ostoskeskus', 'Pernajantie',
       'Sofianlehdonkatu', 'Vihdintie', 'Rajasaarentie',
       'Töölönlahden puisto', 'Hernesaarenranta', 'Käpyläntie',
       'Tyynenmerenkatu', 'Meilahden sairaala', 'Tilkantori',
       'Rautatieläisenkatu', 'Näkinsilta', 'Koskelantie', 'Ratapihantie',
       'Kuusitie', 'Messeniuksenkatu', 'Munkkiniemen aukio',
       'Juhana Herttuan tie', 'Seurasaari', 'Kalevankatu',
       'Pohjolanaukio', 'Hertanmäenkatu', 'Maistraatintori',
       'Laajalahden aukio', 'Arabian kauppakeskus', 'Korjaamo',
       'Töölöntulli', 'Esterinportti', 'Velodrominrinne', 'Päijänteentie',
       'Verkatehtaanpuisto', 'Brahen puistikko', 'Jalavatie',
       'Ehrenströmintie', 'Etuniementie', 'Intiankatu', 'Korppaanmäentie',
       'Elimäenkatu', 'Olympiastadion', 'Heikkilänaukio', 'Arielinkatu',
       'Paavalinpuisto', 'Toinen linja', 'Gebhardinaukio', 'Radiokatu',
       'Kriikunakuja', 'Arabiankatu', 'Pohjolankatu', 'Puistokaari',
       'Heikkiläntie', 'Länsisatamankatu', 'Luoteisväylä', 'Ulvilantie',
       'Fleminginkatu', 'Albertinkatu', 'Huopalahdentie', 'Tilkanvierto',
       'Haukilahdenkatu', 'Diakoniapuisto', 'Sammonpuistikko',
       'Saunalahdentie', 'Mäkelänkatu', 'Paciuksenkaari', 'Kiskontie',
       'Torpanranta', 'Kalasatama (M)', 'Hietaniemenkatu',
       'Stenbäckinkatu', 'Laajalahden keskus', 'Tenholantie',
       'Muusantori', 'Venttiilikuja', 'Käpylän asema', 'Gyldenintie',
       'Vanha Kauppahalli', 'Leppäsuonaukio', 'Salmisaarenranta',
       'Nordenskiöldinaukio', 'Paciuksenkatu', 'Hollolantie', 'Teljäntie',
       'Perämiehenkatu', 'Annankatu', 'Eteläesplanadi', 'Lehtisaarentie',
       'Isoisänsilta', 'Cygnaeuksenkatu', 'Kustaankatu', 'Kuikkarinne',
       'Oravannahkatori', 'Pohjankulma', 'Kalevalantie',
       'Niittykumpu (M)', 'Friisilänaukio', 'Haukilahdenranta',
       'Sateentie', 'Otsolahti', 'Mankkaanlaaksontie', 'Keilaniemi (M)',
       'Länsituuli', 'Tietäjä', 'Suurpellonaukio',
       'Aalto-yliopisto (M), Korkeakouluaukio', 'Jämeräntaival',
       'Nelikkotie', 'Aalto-yliopisto (M), Tietotie', 'Lystimäki',
       'Louhentori', 'Tiistiläntie', 'Komeetankatu', 'Urheilupuisto (M)',
       'Hakalehto', 'Tekniikantie', 'Tapionaukio', 'Keilalahti',
       'Hauenkalliontie', 'Revontulentie', 'Tiistinkallio',
       'Nuottaniementie', 'Sähkömies', 'Niittymaa', 'Mankkaanaukio',
       'Tontunmäentie', 'Ahertajantie', 'Itäportti', 'Mäntyviita',
       'Westendintie', 'Mellstenintie', 'Lukutori', 'Hauenkallio',
       'Keilaranta', 'Innopoli', 'Kulttuuriaukio', 'Metsänneidonpolku',
       'Piispankallio', 'Piispanportti', 'Otaranta',
       'Tapiolan urheilupuisto', 'Westendinasema', 'Matinlahdenranta',
       'Koivu-Mankkaa', 'Olarinluoma', 'Golfpolku', 'Haukilahdenaukio',
       'Linnakepolku', 'Toppelundintie', 'Matinkyläntie',
       'Toppelundinportti', 'Upseerinkatu', 'Komentajankatu', 'Säteri',
       'Läkkitori', 'Säterinniitty', 'Gallen-Kallelan tie',
       'Kirjurinkuja', 'Lystimäensilta', 'Säterinrinne', 'Ratsutori',
       'Leppävaaranaukio', 'Rummunlyöjänkatu', 'Muurarinkuja',
       'Lumivaarantie', 'Majurinkulma', 'Gransinmäki', 'Vallikatu',
       'Kalkkipellonmäki', 'Mäkkylän asema', 'Vallipolku',
       'Postipuun koulu', 'Leppävaaran urheilupuisto', 'Kutsuntatie',
       'Linnuntie', 'Painiitty', 'Ruutikatu', 'Leppävaaran uimahalli',
       'Yhdyskunnankuja', 'Hanasaari', 'Maarinranta',
       'Leppävaarankäytävä', 'Katariina Saksilaisen katu',
       'Viikin normaalikoulu', 'Merihaka', 'Mäkitorpantie',
       'Ruskeasuon varikko', 'Viikin tiedepuisto', 'Elfvik',
       'Siltavoudintie', 'Von Daehnin katu', 'Betonimies',
       'Agronominkatu', 'Kirkkoherrantie', 'Tuulimäki', 'Opastinsilta',
       'Kustaankartano', 'Vanha Viertotie', 'Thalianaukio', 'Vesakkotie',
       'Valimotie', 'Hernepellontie', 'Otto Brandtin tie', 'Pajamäki',
       'Relanderinaukio', 'Kylävoudintie', 'Tupasaarentie', 'Lepolantie',
       'Käskynhaltijantie', 'Ida Aalbergin tie', 'Petter Wetterin tie',
       'Huopalahden asema', 'Aulangontie', 'Marttila', 'Oulunkylän asema',
       'Porolahden koulu', 'Huovitie', 'Maunula', 'Herttoniemi (M)',
       'Siilitie (M)', 'Kulosaari (M)', 'Asentajanpuisto',
       'Näyttelijäntie', 'Pohjois-Haagan asema', 'Agnetankuja',
       'Margareetankuja', 'Haagan tori', 'Laivalahden puistotie',
       'Herttoniemenranta', 'Hämeenlinnanväylä', 'Abraham Wetterin tie',
       'Pihlajamäki', 'Herttoniemen kirkko', 'Tulisuontie',
       'Myllypuro (M)', 'Siilitie 9', 'Itäkeskus (M)', 'Puotinharju',
       'Marjaniementie', 'Takomotie', 'Voikukantie', 'Valimon asema',
       'Pitäjänmäen asema', 'Reiherintie', 'Isosaarentie',
       'Prinsessantie', 'Orpaanporras', 'Eränkävijäntori',
       'Haakoninlahdenkatu', 'Marjaniemi', 'Gunillantie',
       'Mamsellimyllynkatu', 'Puotilantie', 'Mustikkamaa',
       'Puotilan ostoskeskus', 'Puotinkylän kartano', 'Länsiterminaali',
       'Puotila (M)', 'Tammisalon aukio', 'Humalniementie',
       'Peukaloisentie', 'Alakiventie', 'Länsisatamankuja', 'Tunnelitie',
       'Ilmalan asema', 'Jännetie', 'Karhulantie', 'Hagalundinpuisto',
       'Roihupelto', 'Siilitie 13', 'Orionintie',
       'Laajasalon ostoskeskus', 'A.I. Virtasen aukio',
       'Vallilan\xa0varikko', 'Koskelan varikko',
       'Itäkeskus Metrovarikko', 'Outotec', 'Pasilan asema',
       'Korkeasaari', 'Muotoilijankatu', 'Kaapelitehdas',
       'Derby Business Park'], dtype=object)

## Time function

In [54]:
def groupby_count(df):
    unq, t = np.unique(df.departure_name, return_inverse=1)
    time = df.timestamp.values
    sidx = np.lexsort([t,time])

    ts = t[sidx]
    times = time[sidx]

    m0 = (times[1:] != times[:-1]) | (ts[1:] != ts[:-1])
    m = np.concatenate(([True], m0, [True]))
    time_out = times[m[:-1]]
    t_out = unq[ts[m[:-1]]]
    x_out = np.diff(np.flatnonzero(m)+1)

    out_ar = np.column_stack((time_out, t_out, x_out))
    return pd.DataFrame(out_ar, columns = ['timestamp','departure_name','pickup'])

In [55]:
data_matrix = groupby_count(dataframe)

In [56]:
data_matrix['timestamp'] = data_matrix['timestamp'].apply(pd.to_datetime, format='%Y-%m-%d %H:%M:%S.%f')
data_matrix

                  timestamp      departure_name pickup
0       2016-05-02 15:00:00               Baana      1
1       2016-05-02 15:00:00         Eerikinkatu      1
2       2016-05-02 15:00:00     Erottajan aukio      3
3       2016-05-02 15:00:00   Kaisaniemenpuisto      3
4       2016-05-02 15:00:00          Kamppi (M)      2
...                     ...                 ...    ...
2845254 2020-10-31 23:00:00     Velodrominrinne      1
2845255 2020-10-31 23:00:00       Venttiilikuja      1
2845256 2020-10-31 23:00:00  Verkatehtaanpuisto      4
2845257 2020-10-31 23:00:00    Vilhonvuorenkatu      1
2845258 2020-10-31 23:00:00      Westendinasema      2

[2845259 rows x 3 columns]

In [57]:
data_matrix2 = pd.pivot_table(data_matrix, values='pickup', index=['timestamp'],
                    columns=['departure_name'], aggfunc=np.sum, fill_value=0)
data_matrix2

departure_name,A.I. Virtasen aukio,"Aalto-yliopisto (M), Korkeakouluaukio","Aalto-yliopisto (M), Tietotie",Abraham Wetterin tie,Agnetankuja,Agronominkatu,Ahertajantie,Alakiventie,Albertinkatu,Annankatu,...,Viikin normaalikoulu,Viikin tiedepuisto,Viiskulma,Vilhonvuorenkatu,Voikukantie,Von Daehnin katu,Westendinasema,Westendintie,Yhdyskunnankuja,Ympyrätalo
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-05-02 15:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2016-05-02 16:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
2016-05-02 17:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
2016-05-02 18:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
2016-05-02 19:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-31 19:00:00,0,1,0,0,0,0,0,0,0,0,...,0,1,0,2,0,0,0,0,0,2
2020-10-31 20:00:00,0,2,0,0,0,0,0,0,1,0,...,0,1,4,0,0,0,1,0,0,2
2020-10-31 21:00:00,0,1,1,0,1,0,0,0,1,0,...,0,0,0,3,0,0,0,0,0,2
2020-10-31 22:00:00,0,3,2,0,0,1,0,0,0,5,...,0,1,1,1,0,0,0,0,0,3
2020-10-31 23:00:00,0,2,1,0,2,0,0,0,1,0,...,0,0,0,1,0,0,2,0,0,0

In [58]:
stations = data_matrix2.columns

In [61]:
#data_matrix.to_csv('data_matrix.csv')
#data_matrix2.to_csv('data_matrix2.csv')

### Data preprocessing

In [73]:
data_matrix

                  timestamp      departure_name pickup
0       2016-05-02 15:00:00               Baana      1
1       2016-05-02 15:00:00         Eerikinkatu      1
2       2016-05-02 15:00:00     Erottajan aukio      3
3       2016-05-02 15:00:00   Kaisaniemenpuisto      3
4       2016-05-02 15:00:00          Kamppi (M)      2
...                     ...                 ...    ...
2845254 2020-10-31 23:00:00     Velodrominrinne      1
2845255 2020-10-31 23:00:00       Venttiilikuja      1
2845256 2020-10-31 23:00:00  Verkatehtaanpuisto      4
2845257 2020-10-31 23:00:00    Vilhonvuorenkatu      1
2845258 2020-10-31 23:00:00      Westendinasema      2

[2845259 rows x 3 columns]

In [84]:
# Code station name:
stations = sorted(list(set(data_matrix['departure_name'])))

In [85]:
print(stations)

['A.I. Virtasen aukio', 'Aalto-yliopisto (M), Korkeakouluaukio', 'Aalto-yliopisto (M), Tietotie', 'Abraham Wetterin tie', 'Agnetankuja', 'Agronominkatu', 'Ahertajantie', 'Alakiventie', 'Albertinkatu', 'Annankatu', 'Apollonkatu', 'Arabian kauppakeskus', 'Arabiankatu', 'Arielinkatu', 'Asentajanpuisto', 'Aulangontie', 'Auringonkatu', 'Avaruuskatu', 'Baana', 'Betonimies', 'Brahen kenttä', 'Brahen puistikko', 'Cygnaeuksenkatu', 'Derby Business Park', 'Designmuseo', 'Diakoniapuisto', 'Eerikinkatu', 'Ehrenströmintie', 'Elfvik', 'Elimäenkatu', 'Eläinmuseo', 'Erottajan aukio', 'Eränkävijäntori', 'Esterinportti', 'Eteläesplanadi', 'Eteläinen Hesperiankatu', 'Etuniementie', 'Fleminginkatu', 'Friisilänaukio', 'Gallen-Kallelan tie', 'Gebhardinaukio', 'Golfpolku', 'Gransinmäki', 'Gunillantie', 'Gyldenintie', 'Haagan tori', 'Haakoninlahdenkatu', 'Haapaniemenkatu', 'Hagalundinpuisto', 'Hakalehto', 'Hakaniemi (M)', 'Hanasaari', 'Hauenkallio', 'Hauenkalliontie', 'Haukilahdenaukio', 'Haukilahdenkatu', 'Haukilahdenranta', 'Heikkilänaukio', 'Heikkiläntie', 'Hernepellontie', 'Hernesaarenranta', 'Hertanmäenkatu', 'Herttoniemen kirkko', 'Herttoniemenranta', 'Herttoniemi (M)', 'Hietalahdentori', 'Hietaniemenkatu', 'Hollolantie', 'Humalniementie', 'Huopalahden asema', 'Huopalahdentie', 'Huovitie', 'Hämeenlinnanväylä', 'Ida Aalbergin tie', 'Ilmalan asema', 'Innopoli', 'Intiankatu', 'Isoisänsilta', 'Isosaarentie', 'Itäkeskus (M)', 'Itäkeskus Metrovarikko', 'Itälahdenkatu', 'Itämerentori', 'Itäportti', 'Jalavatie', 'Juhana Herttuan tie', 'Jämeräntaival', 'Jännetie', 'Jätkäsaarenlaituri', 'Jäähalli', 'Kaapelitehdas', 'Kaisaniemenpuisto', 'Kaivopuisto', 'Kalasatama (M)', 'Kalevalantie', 'Kalevankatu', 'Kalkkipellonmäki', 'Kamppi (M)', 'Kanavaranta', 'Kansallismuseo', 'Kapteeninpuistikko', 'Karhulantie', 'Karhupuisto', 'Kasarmitori', 'Katariina Saksilaisen katu', 'Kauppakorkeakoulu', 'Keilalahti', 'Keilaniemi (M)', 'Keilaranta', 'Kesäkatu', 'Kiasma', 'Kirjurinkuja', 'Kirkkoherrantie', 'Kiskontie', 'Koivu-Mankkaa', 'Komeetankatu', 'Komentajankatu', 'Korjaamo', 'Korkeasaari', 'Korppaanmäentie', 'Koskelan varikko', 'Koskelantie', 'Kriikunakuja', 'Kuikkarinne', 'Kulosaari (M)', 'Kulttuuriaukio', 'Kustaankartano', 'Kustaankatu', 'Kutsuntatie', 'Kuunkatu', 'Kuusitie', 'Kylävoudintie', 'Käpylän asema', 'Käpyläntie', 'Käskynhaltijantie', 'Laajalahden aukio', 'Laajalahden keskus', 'Laajasalon ostoskeskus', 'Laivalahden puistotie', 'Laivasillankatu', 'Lastenlehto', 'Lauttasaaren ostoskeskus', 'Lauttasaarensilta', 'Lehtisaarentie', 'Lepolantie', 'Leppäsuonaukio', 'Leppävaaran uimahalli', 'Leppävaaran urheilupuisto', 'Leppävaaranaukio', 'Leppävaarankäytävä', 'Liisanpuistikko', 'Linnakepolku', 'Linnanmäki', 'Linnuntie', 'Lintulahdenkatu', 'Louhentori', 'Lukutori', 'Lumivaarantie', 'Luoteisväylä', 'Lystimäensilta', 'Lystimäki', 'Läkkitori', 'Länsisatamankatu', 'Länsisatamankuja', 'Länsiterminaali', 'Länsituuli', 'Maarinranta', 'Maistraatintori', 'Majurinkulma', 'Mamsellimyllynkatu', 'Mankkaanaukio', 'Mankkaanlaaksontie', 'Mannerheimintie', 'Margareetankuja', 'Marian sairaala', 'Marjaniementie', 'Marjaniemi', 'Marttila', 'Mastokatu', 'Matinkartanontie', 'Matinkyläntie', 'Matinlahdenranta', 'Maunula', 'Meilahden sairaala', 'Melkonkuja', 'Mellstenintie', 'Merihaka', 'Merisotilaantori', 'Messeniuksenkatu', 'Metsänneidonpolku', 'Munkkiniemen aukio', 'Muotoilijankatu', 'Mustikkamaa', 'Muurarinkuja', 'Muusantori', 'Myllypuro (M)', 'Mäkelänkatu', 'Mäkitorpantie', 'Mäkkylän asema', 'Mäntyviita', 'Narinkka', 'Nelikkotie', 'Niittykumpu (M)', 'Niittymaa', 'Nokkala', 'Nordenskiöldinaukio', 'Nuottaniementie', 'Näkinsilta', 'Näyttelijäntie', 'Olarinluoma', 'Olympiastadion', 'Ooppera', 'Opastinsilta', 'Oravannahkatori', 'Orionintie', 'Orpaanporras', 'Otaranta', 'Otsolahti', 'Otto Brandtin tie', 'Oulunkylän asema', 'Outotec', 'Paavalinpuisto', 'Paciuksenkaari', 'Paciuksenkatu', 'Painiitty', 'Pajamäki', 'Pasilan asema', 'Pernajantie', 'Perämiehenkatu', 'Petter Wetterin tie', 'Peukaloisentie', 'Pihlajamäki', 'Piispankallio', 'Piispanportti', 'Piispansilta', 'Pitäjänmäen asema', 'Pohjankulma', 'Pohjois-Haagan asema', 'Pohjolanaukio', 'Pohjolankatu', 'Porolahden koulu', 'Porthania', 'Postipuun koulu', 'Prinsessantie', 'Puistokaari', 'Puotila (M)', 'Puotilan ostoskeskus', 'Puotilantie', 'Puotinharju', 'Puotinkylän kartano', 'Päijänteentie', 'Radiokatu', 'Rajasaarentie', 'Ratapihantie', 'Ratsutori', 'Rautatieläisenkatu', 'Rautatientori / itä', 'Rautatientori / länsi', 'Reiherintie', 'Relanderinaukio', 'Revontulentie', 'Ritarikatu', 'Roihupelto', 'Rummunlyöjänkatu', 'Ruomelantie', 'Ruskeasuon varikko', 'Ruutikatu', 'Salmisaarenranta', 'Sammonpuistikko', 'Sateentie', 'Saunalahdentie', 'Senaatintori', 'Sepetlahdentie', 'Sepänkatu', 'Seurasaari', 'Siilitie (M)', 'Siilitie 13', 'Siilitie 9', 'Siltavoudintie', 'Sofianlehdonkatu', 'Stenbäckinkatu', 'Suomenlahdentie', 'Suurpellonaukio', 'Sähkömies', 'Säteri', 'Säterinniitty', 'Säterinrinne', 'Sörnäinen (M)', 'Takomotie', 'Tammisalon aukio', 'Tapiolan urheilupuisto', 'Tapionaukio', 'Tekniikantie', 'Teljäntie', 'Tenholantie', 'Teollisuuskatu', 'Teurastamo', 'Thalianaukio', 'Tietäjä', 'Tiistiläntie', 'Tiistinkallio', 'Tilkantori', 'Tilkanvierto', 'Toinen linja', 'Tontunmäentie', 'Toppelundinportti', 'Toppelundintie', 'Torpanranta', 'Tulisuontie', 'Tunnelitie', 'Tupasaarentie', 'Tuulimäki', 'Tyynenmerenkatu', 'Töölönkatu', 'Töölönlahden puisto', 'Töölönlahdenkatu', 'Töölöntori', 'Töölöntulli', 'Uimastadion', 'Ulvilantie', 'Unioninkatu', 'Upseerinkatu', 'Urheilupuisto (M)', 'Valimon asema', 'Valimotie', 'Vallikatu', 'Vallilan\xa0varikko', 'Vallipolku', 'Vanha Kauppahalli', 'Vanha Viertotie', 'Vanha kirkkopuisto', 'Varsapuistikko', 'Velodrominrinne', 'Venttiilikuja', 'Verkatehtaanpuisto', 'Vesakkotie', 'Vihdintie', 'Viikin normaalikoulu', 'Viikin tiedepuisto', 'Viiskulma', 'Vilhonvuorenkatu', 'Voikukantie', 'Von Daehnin katu', 'Westendinasema', 'Westendintie', 'Yhdyskunnankuja', 'Ympyrätalo']

In [113]:
# Calculate start and end time period: 
start_time = dataframe["departure"].min()
start_time = start_time - timedelta(minutes=(start_time.minute%60))
end_time = dataframe["departure"].max().replace(second=0)
end_time = end_time + timedelta(minutes=60 - (end_time.minute%60))

data_matrix_time = pd.DataFrame()
time_array = []
time = start_time

while time <= end_time:
    time_array.append(time)
    time =time + timedelta(minutes=60)
    
data_matrix_time["timestamp"] = time_array

In [115]:
data = data_matrix_time.merge(data_matrix2, on='timestamp', how = 'left').fillna(0)
data.iloc[:,1:] = data.iloc[:,1:].astype('int')

In [137]:
data.iloc[:,300].value_counts()

0    34714
1     2973
2     1154
3      409
4      117
5       51
6       18
7        6
Name: Tiistiläntie, dtype: int64

In [140]:
data.to_csv('data_final.csv')

In [139]:
data

,timestamp,A.I. Virtasen aukio,"Aalto-yliopisto (M), Korkeakouluaukio","Aalto-yliopisto (M), Tietotie",Abraham Wetterin tie,Agnetankuja,Agronominkatu,Ahertajantie,Alakiventie,Albertinkatu,...,Viikin normaalikoulu,Viikin tiedepuisto,Viiskulma,Vilhonvuorenkatu,Voikukantie,Von Daehnin katu,Westendinasema,Westendintie,Yhdyskunnankuja,Ympyrätalo
0,2016-05-02 15:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,2016-05-02 16:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
2,2016-05-02 17:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,2016-05-02 18:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,2016-05-02 19:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39437,2020-10-31 20:00:00,0,2,0,0,0,0,0,0,1,...,0,1,4,0,0,0,1,0,0,2
39438,2020-10-31 21:00:00,0,1,1,0,1,0,0,0,1,...,0,0,0,3,0,0,0,0,0,2
39439,2020-10-31 22:00:00,0,3,2,0,0,1,0,0,0,...,0,1,1,1,0,0,0,0,0,3
39440,2020-10-31 23:00:00,0,2,1,0,2,0,0,0,1,...,0,0,0,1,0,0,2,0,0,0
39441,2020-11-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0